<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>hoa.loader</string>
	<key>CFBundleIdentifier</key>
	<string>com.cycling74.hoa.loader</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>hoa.loader 5.1.7, Copyright 2010 Cycling '74</string>
	<key>CFBundlePackageType</key>
	<string>iLaX</string>
	<key>CFBundleShortVersionString</key>
	<string>5.1.7</string>
	<key>CFBundleSignature</key>
	<string>max2</string>
	<key>CFBundleVersion</key>
	<string>5.1.7</string>
	<key>CSResourcesFileMapped</key>
	<true/>
</dict>
</plist>
