#################
## Juce
#################

*.component
JuceLibraryCode/

#################
## Visual Studio
#################

#################
## XCode
#################
xcuserdata/

*.build/
*.gcda

# Mac crap
.DS_Store

*.mode1V3
*.pbxuser

HoaPackage/
*.mpkg
*.exe
*.msi
*.zip
*.dmg
*.o
*.d
*.dia
*.dat
*.rsrc
*.dep


