# Max/MSP
*.mxo binary merge=theirs
*.exec binary merge=theirs
*.maxpat binary merge=theirs
*.maxhelp binary merge=theirs
/Contents/ binary merge=theirs
/MacOs/ binary merge=theirs
*.png binary merge=binary
