# Max/MSP
*.mxo binary merge=theirs
*.exec binary merge=theirs
*.exe binary merge=theirs
*.maxpat binary merge=theirs
*.maxhelp binary merge=theirs
*.png binary merge=binary

/Contents/MacOS/hoa.encoder~ binary merge=theirs
*~ binary merge=theirs
