#################
## Juce
#################

*.component
JuceLibraryCode/

#################
## Visual Studio
#################

*.suo
*.pdb
*.sdf
*.user
*.ipch
*.rc
*.amplxeproj

sysbuild/

#################
## XCode
#################
xcuserdata/

*.build/
*.gcda

# Mac crap
.DS_Store

*.mode1V3
*.pbxuser

HoaPackage/
*.mxo
*.mxe
*.mpkg
*.msi
*.dmg
*.o
*.d
*.dia
*.dat
*.rsrc
*.dep


