[submodule "Documentation"]
	path = Documentation
	url = https://pierreguillot@github.com/CICM/HoaLibraryDocumentation.git
	branch = gh-pages
[submodule "ThirdParty/PureData"]
	path = ThirdParty/PureData
	url = https://pierreguillot@github.com/CICM/CicmWrapper.git
