#################
## Juce
#################

*.component
JuceLibraryCode/

#################
## Visual Studio
#################

*.suo
*.pdb
*.sdf
*.user
*.ipch
*.rc
*.amplxeproj

sysbuild/

#################
## XCode
#################
xcuserdata/

*.build/
*.gcda

# Mac crap
.DS_Store


