body{
	background-color: #FFF;
	color: #444;
	/*text-shadow: 1px 1px 2px #DDD;*/
}
#hoa-top{
	position:absolute; 
	top:10px; 
	right:10px;
}
#hoa-top #hoa_top_icon{
	cursor:pointer;
	box-shadow: -1px -1px 6px 0px #DDD;
	-webkit-transition: all .2s ease-in-out;  
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;  
    transition: all .2s ease-in-out;
}
#hoa-top #hoa_top_icon:hover{
	box-shadow: 1px 1px 6px 0px #DDD;
	-webkit-transition: all .2s ease-in-out;  
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;  
    transition: all .2s ease-in-out;
}
#hoa-top #hoa_top_icon img{
	width: 80px;
	padding: 2px;
}
.hoa-block{
	padding: 10px;
	box-shadow: 1px 1px 2px 1px #DDD;
	text-align: justify;
	margin-bottom: 10px;
	border-left: solid 2px #444;
	line-height: 1.5em;
	/*font-size: 16px;*/
}
#hoa-top-langselect{
	width: 100%;
	position: absolute;
	right: 65px;
}
#hoa-top-langselect a{
	text-decoration: none;
	margin: 0; 
	padding-left: 3px;
	padding-right: 3px;
	color: #444;
	-webkit-transition: all .2s ease-in-out;  
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;  
    transition: all .2s ease-in-out;
}
#hoa-top-langselect a:hover{
	background-color: #444;
	color: #EEE;
	text-shadow: 1px 1px 0px #000;
	box-shadow: 1px 1px 1px 0px #BBB;
	-webkit-transition: all .2s ease-in-out;  
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;  
    transition: all .2s ease-in-out;
}

#hoa-top-langselect a.current{
	background-color: #444;
	color: #EEE;
	text-shadow: 1px 1px 0px #000;
	box-shadow: 1px 1px 1px 0px #BBB;
}