
// Name & Version
HOALIBRARY_VERSION = 2.0
PRODUCT_NAME = $(PROJECT_NAME)
PRODUCT_VERSION = HoaLibrary $(HOALIBRARY_VERSION)
ARCHS = i386 x86_64


// Paths
//C74SUPPORT = $(SRCROOT)/../../../ThirdParty/Max/c74support
//HEADER_SEARCH_PATHS = "$(C74SUPPORT)/max-includes" "$(C74SUPPORT)/msp-includes" "$(C74SUPPORT)/jit-includes"
//FRAMEWORK_SEARCH_PATHS = "$(C74SUPPORT)/max-includes" "$(C74SUPPORT)/msp-includes" "$(C74SUPPORT)/jit-includes"
DSTROOT = $(SRCROOT)/../../builds2D
// (This next path is relative to DSTROOT)
INSTALL_PATH = /
ARCHS = i386 x86_64
MACOSX_DEPLOYMENT_TARGET = 10.6

//WARNING_CFLAGS = -Wmost -Wno-four-char-constants -Wno-unknown-pragmas
//DEPLOYMENT_LOCATION = YES
//GENERATE_PKGINFO_FILE = YES

// hide all symbols by default
// mark a function to be exported with the C74_EXPORT macro -- most likely this will only apply to the main() function
//OTHER_CFLAGS = -fvisibility=hidden
WRAPPER_EXTENSION = pd_darwin;